#abaikan file environment dan config sensitif (kalau ada)
.env
.env.local

#abaikan node_modules
node_modules/
server/node_modules

#abaikan log dan cache
*.log
*.sqlite
*.sqlite3
*.bak
.DS_Store

#vercel atau deployment
.vercel/