#abaikan database di root folder
/database.db

#abaikan semua database di subfolder mana pun (cadangan ganda)
/database.db
**/database.db

#abaikan file environment dan config sensitif (kalau ada)
.env
.env.local

#abaikan node_modules
node_modules/

#abaikan log dan cache
*.log
*.sqlite
*.sqlite3
*.bak
.DS_Store

#vercel atau deployment
.vercel/